@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.conteiner {
  border: 2px solid red;
  display: grid;
  
  grid-template: repeat(8, 50px) / repeat(4, 1fr);
}

div {
  border: 2px solid blue;
}

.item1 {
  grid-area: 1 / 1 / 3 / -1;
}

.item2 {
  grid-area: 3/ 1 / 4 / -1;
}

.item3 {
  grid-area: 4 / 1 / -2 / -2;
}

.item4 {
  grid-area: 4 / -2 / -2 / -1;
}

.item5 {
  grid-area: -2 / 1 / -1 / -1;
}