@charset "UTF-8";

@media (min-width: 768px){
  header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    flex: 0 0 200px;
    text-align: left;
  }
  menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 700px;
  }
  menu a {
    flex: 0 0 100px;
    padding-top: 15px;
    height: 50px;
  }
}